
#confirm-bubble{
	width:810px;
}

#confirm-border{
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color:#f67522;
	padding:5px;
	margin-top: 62px;
}

#confirm-frame{
	-moz-border-radius: 50px 50px 0px 0px;
	border-radius: 50px 50px 0px 0px;
	background-color:#fff;
	
	color:#511c82;
	font-weight:bold;
}

#confirm-frame-bottom{
	-moz-border-radius: 0px 0px 50px 50px;
	border-radius: 0px 0px 50px 50px;
	background-color:#fe7702;
	
	color:#fff;
	padding:0px 0px 20px 0px;
	font-size:1.1em
}

.confirm-input-label{
	font-size:1.7em;
	font-weight:bold;
	padding:5px;
	color:#fe7702;
}

.confirm-cat-cell{
	width:350px;
	height:300px;
  margin:0px;
}

/*
.confirm-cat-cell:hover{
  margin:0px;
  border-style:solid;
  border-width:10px;
  border-color:#fe7702;
}
*/

#confirm-alone{
	background:url('../images/form/form_alone.png') no-repeat top left;
  width:350px;
  height:300px;
	float:left;
}

#confirm-help{
	background:url('../images/form/form_help.png') no-repeat top left;
  width:350px;
  height:300px;
  float:right;
}

#confirm-alone:hover{
  background:url('../images/form/form_alone.png') no-repeat top right;
}

#confirm-help:hover{
  background:url('../images/form/form_help.png') no-repeat top right;
}

/* NEW */

.confirm-seul-aidee, .confirm-seul-aidee:hover{
font-size:24px;
color:#FF9933;
margin-top: 80px;
margin-bottom: 82px;
width: 275px;
height: 240px;
}

#confirm-seul{
background: url("../images/form/seul.png") no-repeat scroll 15px 55px transparent;
float: left;
margin-left: 70px;
}

#confirm-aidee{
background:url('../images/form/aidee.png') no-repeat scroll 0px 55px transparent;
float:right;
margin-right:90px;
}

.confirm-rollovers {
position:relative;
}

.pointilles {
background:url("../images/form/pointilles.png") no-repeat scroll 375px 120px transparent;
}

.confirm-rollover {
background:url("../images/form/aidee_roll-over.png");
background-repeat:no-repeat;
width:300px;
height:300px;
position:absolute;
/*cursor:pointer;*/
display:none;
z-index:30;
}

#confirm-seul-rollover {
left: 70px;
top: -288px;
}

#confirm-aidee-rollover {
left: 438px;
top: -288px;
}


/* FIN NEW */



#confirm-btn-label{
	float:left;
	width:160px;
	font-size:1.4em;
	padding:20px;
}

#confirm-other-btn{
	color:#502783;
	text-align:center;
	padding: 30px 0px 5px;
	font-size: 1.3em;
  /*cursor:pointer;*/
}
#confirm-other-btn:hover{
	color:#fff;
}

#confirm-other{
	margin:20px 0px 0px 40px;
	/*cursor:pointer;*/
}

#confirm-other-label{
	padding-left:20px;
	font-size:1.2em;
	line-height:40px;
	font-weight:bold;
	float:left;
}

#confirm-form-title{
	line-height:25px;
	text-align:left;
	font-size:2.2em;
	padding:20px 0px 20px 0px;
	text-align:center;
	color:#502783;
}

#confirm-form-detail{
	padding:20px 0px 0px 50px;
}

#confirm-submit{
	float:right;
	color:#fff;
	padding-right:20px;
}

#confirm-mail{
	padding-left:10px;
	font-size:1.2em;
	width:500px;
}

#confirm-checkbox-label{
	padding:0px 0px 20px 20px;
	font-size:1em;
	text-align:left;
}

.confirm_cb{
	width:20px;
	height:20px;
}

#confirm-validation{
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color:#fff;
	padding:50px;
}

#confirm-validation{
  /*cursor:pointer;*/
}

#confirm-valid-image{
	float:left;
	background:url("../images/form/form_valid.png") no-repeat top left;
	width:300px;
	height:360px;
}

.confirm-valid-image-hover{
	background:url("../images/form/form_valid.png") no-repeat top right;
}

#confirm-valid-description{
	font-size:2em;
	font-weight:bold;
	color:#502783;
	float:left;
	width:300px;
	padding:130px 0px 0px 30px;
}